<div class="container">
  <h1 class="title">Stupid Coaching</h1>

<form action= "/answer" class="form-inline">
  <div class="form-group">
    <label class="sr-only">Ask your coach anything:</label>
  </div>
  <div class="input">
    <input type="text" class="form-control" placeholder="Question" name='question'>
    <button type="submit" class="btn btn-default">Ask!</button>
  </div>
</form>

</div>
